---
import LayoutLogin from "@/layouts/LayoutLogin.astro";
import { url } from "config/url";

const errors = { email: "", password: "" };

if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        const email = data.get("email");
        const password = data.get("password");

        if (typeof email !== "string") errors.email += "Email is not valid. ";

        if (typeof password !== "string" || password.length < 6)
            errors.password += "Password must be at least 6 characters. ";

        const res = await fetch(`${url}/users/login`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                email,
                password,
            }),
            credentials: "include",
        });

        if (res.ok) {
            const data = await res.json();
            console.log(data);
            Astro.cookies.set("session", data.sessionId, {
                path: "/",
                httpOnly: true,
            });
            return Astro.redirect("/products");
        } else {
            errors.password = "Wrong user or password!";
        }
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }
    }
}
---

<LayoutLogin title="Login">
    <h4 class="font-bold mb-2">Ecommerce Francisco Gómez</h4>
    <form class="space-y-5" method="POST" id="login-form">
        <div>
            <h5 class="mb-1">Email</h5>
            <input
                type="email"
                name="email"
                class="border border-gray-500 rounded-sm px-4 py-2 w-full"
            />
            {errors.email && <p class="text-red-500 text-sm">{errors.email}</p>}
        </div>
        <div>
            <h5 class="mb-1">Password</h5>
            <input
                type="password"
                name="password"
                class="border border-gray-500 rounded-sm px-4 py-2 w-full"
            />
            {
                errors.password && (
                    <p class="text-red-500 text-sm">{errors.password}</p>
                )
            }
        </div>

        <p class="text-sm">
            Don't have an account? <a href="/register" class="text-blue-700"
                >Register now</a
            >
        </p>

        <button
            class="bg-blue-600 text-white rounded-md px-4 py-2 hover:bg-blue-700 w-full"
            type="submit"
        >
            Login
        </button>
    </form>
</LayoutLogin>
